body { color: #40514e; margin: 0; text-align: center; font-family: "helvetica", sans-serif; width: 100%;}
h1 { color: #FFCB05; font-size: 5.625rem; margin: 50px auto 0 auto; padding-bottom: 25px; font-family: "Trajan", serif; }
h2 { color: #FFCB05; font-family: "Trajan", serif; font-size: 2.5rem; font-weight: normal; padding-bottom: 10px; margin: 0px }
h3 { color: #FFCB05; font-family: "helvetica", serif; }
p {  line-height: 2; color: #FFCB05; }
hr { border: dotted #eaf6f6 6px; border-bottom: none; width: 4%; margin: 100px auto; }
a { color: #FFCB05; font-family: "helvetica", sans-serif; margin: 10px 20px; text-decoration: none; }
a:hover { color: #eaf6f6; }
.top-container { background-color: #000080; background-image: linear-gradient(#000080, #00274C); position: relative; padding-top: 100px; }
#my-picture {width: 150px; margin: 30px;}
#cloud1 {width: 150px; height: 50px; margin-left: 50px; margin-right: 25px;}
#cloud2 { width: 150px; height: 50px; margin-top: 10px; margin-right: 0px; margin-left: 100px; }
.parent { display: grid;  grid-template-columns: 0.5fr 1fr; grid-template-rows: repeat(1, 1fr); width: 100%; margin: 1em auto 0 auto; text-align: left; row-gap: 2rem; }
.IT-experience {margin-left: 50px;}
.middle-container { padding-top: 20px; background-image: linear-gradient(180deg, #00274C, #014d4E ); }
.bottom-container { background-color: #014d4E; padding: 50px 0 20px; }
.skill-row { width: 50%; margin: 1em auto 1em auto; text-align: left; }
.pro { text-decoration: underline; }
.contact-message { width: 40%; margin: 40px auto 60px; }
.moon { position: static; height: 150px;right: 300px; top: 20px; }
.btn { background: #11cdd4; background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e); background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e); background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8; -moz-border-radius: 8; border-radius: 8px; font-family: "Trajan", serif; color: #ffffff;
  font-size: 20px; padding: 10px 20px 10px 20px; text-decoration: none; }
.btn:hover { background: #30e3cb; background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad); background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad); background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad); background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none; }